.top-button-end-container{
	display:flex;
	justify-content:flex-end;
}
.select-page-another-top{
	display:flex;
	justify-content:flex-end;
	margin-top:10px;
}
.flex-name-display{
	display:flex;
}
.title-name{
	width:100px;
	color:#adadad;
	font-size:500;
}
.border-line{
	width:200px;
	border-top:solid 1px #eeeeee;
	// border-bottom:solid 1px #adadad;
	margin-bottom:5px;
	margin-right:20px;
}
.blank-space{
	width:360px;
}
.treatment-flex-title-container{
	display:flex;
	margin-bottom:10px;
}
.treatment-point-flex{
	display:flex;
}
.point-title{
	margin-right:320px;
	font-size:20px;
	font-weight:500;
	width:100px;
}
.treatment-title-container-with-standard-width{
	width:70vw;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.flex-user-display{
	display:flex;
	margin-bottom:3px;
}
.short-input-detail-title{
	color:#adadad !important;
    font-size:16px !important;
	width:130px !important;
	height:30px;
	margin-right:10px;
}
.flex-add-point-display{
	margin-top:5px;
	display:flex;
	align-items:center;
}
.point-add-title{
	margin-right:10px;
}
.advertisement-detail-title-top{
	color:#adadad;
	font-size:16px;
	height:30px;
	margin-right:20px;
}
.point-submit-button{
	padding-left:5px !important;
	padding-right:5px !important;
	padding-top:2px !important;
	padding-bottom:2px !important;
}
.right-container{
	margin-right:20px;
	display:block;
}
.width-define{
	width:100px;
}
.page-number-width{
	margin-left:10px;
	width:50px;
}
.detail-button{
	margin-top:10px;
}
.bold-size{
	font-weight:700;
}