.treatment-flex-title-container-new{
	display:flex;
	align-items:center;
	margin-bottom:10px;
}
.point-user-name{
	color:#adadad;
	font-weight:600;
	margin-right:30px;
	font-size:18px
}
.treatment-content-detail-find{
	font-size: 20px;
	font-weight: 500;
	color: #555555;
	padding-right: 10px;
	display: flex;
	flex-wrap: nowrap;
	// width: 120px;
}
.button-container-end{
	text-align:end;
}
.delete-customer-point{
	margin-top:5px;
}
.treatment-content-detail-no-width-grey{
	font-size: 20px;
	font-weight: 500;
	color: #adadad;
	padding-right: 10px;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}
.content-point-container{
	width: 300px;
	border: solid 1px #eeeeee;
	padding: 10px;
	margin-right: 40px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 3px #000000;
	justify-content: flex-start;
	background-repeat: no-repeat;
	background-size: cover;
}