.treatment-image{
	width:400px;
	// border:solid 1px #adadad;
	// margin-right:10px;
}
.flex-treatment-detail-content{
	display:flex;
	align-items:center;
	margin-bottom: 10px;
}
.treatment-content-detail-same{
	font-size:24px;
	font-weight:500;
	color:#555555;
	padding-right:10px;
	display:flex;
	flex-wrap:nowrap;
	width:120px;
}
.treatment-content-detail{
	font-size:24px;
	font-weight:500;
	color:#555555;
	padding-right:10px;
	display:flex;
	flex-wrap:nowrap;
	width:120px;
	margin-bottom:5px;
}
.treatment-content-detail-no-width{
	font-size:24px;
	font-weight:500;
	color:#555555;
	padding-right:10px;
	display:flex;
	flex-wrap:nowrap;
	margin-bottom:5px;
	// width:120px;
}
.treatment-content-detail-no-width-same{
	font-size:24px;
	font-weight:500;
	color:#555555;
	padding-right:10px;
	display:flex;
	flex-wrap:nowrap;
}
.treatment-detail-description{
	// padding-left:10px;
	display:flex;
	flex-wrap:wrap;
	font-size:18px;
	color:#adadad;
	margin-bottom: 10px;
}
.treatment-detail-title{
	color:#adadad;
	font-size:18px
}
.treatment-detail-title-select{
	color:#555555;
}
.image-container{
	// width:500px;
	// border:solid 1px #adadad;
	// margin-right:10px;
	display:flex;
	align-items:flex-start;
	margin-bottom:10px;
}
.small-input-container{
	width:150px;
}
.small-selection-container{
	display:flex;
	align-items:center;
}
.buy-word{
	color:#adadad;
	padding-left:5px;
	padding-right:5px;
}
.criteria{
	display:flex;
	margin-right:15px;
}
.criteria-container{
	display:flex;
	margin-bottom:10px;
}
.criteria-name{
	padding-left:8px;
	color:#adadad;
}
.change-button{
	margin-top:10px;
	margin-right:10px;

}
.delete-button{
	margin-top:10px;
}
.notification{
	margin-top:10px;
	padding:8px;
	background-color:#116600;
	color:#cccccc;
	font-weight:500;
	width:200px;
	display:flex;
	justify-content:center;
	border-radius:2px;
}
.long-notification{
	margin-top:10px;
	padding:8px;
	background-color:#116600;
	color:#cccccc;
	font-weight:500;
	width:800px;
	display:flex;
	justify-content:center;
	border-radius:2px;
}
.warning{
	margin-top:10px;
	padding:8px;
	background-color:#ff5500;
	color:#cccccc;
	font-weight:500;
	width:200px;
	display:flex;
	justify-content:center;
	border-radius:2px;
}
.long-warning{
	margin-top:10px;
	padding:8px;
	background-color:#ff5500;
	color:#cccccc;
	font-weight:500;
	width:350px;
	display:flex;
	justify-content:center;
	border-radius:2px;
}
.treatment-image-container{
	border:solid 1px #adadad;
	width:402px;
	margin-right:10px;
}